@import "globals/base";
@import "common.scss";

.page-enter-active,
.page-leave-active {
  transition: all $page_transition_duration;
}
.page-enter,
.page-leave-to {
  transform: translateX(-100%);
}

h1 {
  font-size: 30px;
}