$blue: #00305e;
$orange: #e86020;
$content_color: #666;

$light_white_color:#ccc;
$light_border_color: #E0E5EA;
$dark_border_color: #5F717D;
$scroll_color:#808080;

$validation_color: #b10e1e;
$validation_background_color: rgba($validation_color, 0.3);

@function transition_active($transition_name, $prefix: "") {
  @return $prefix + "." + $transition_name + "-enter-active, " + $prefix + "." +
    $transition_name + "-leave-active";
}

@function transition_start($transition_name, $prefix: "") {
  @return $prefix + "." + $transition_name + "-enter, " + $prefix + "." +
    $transition_name + "-leave-to";
}
