$blue: #06345b;
$light_blue:#2F577B;
$dark_blue:#031b30;
$orange: #e86020;
$dark_orange:#d25419;
$content_color: #666;

$light_grey:#ccc;
$dark_grey: #5F717D;
$off_white: #E0E5EA;

$scroll_color:#808080;
$common_padding:10px;

$invalid_color: #b10e1e;
$invalid_back_color: rgba($invalid_color, 0.3);

@function transition_active($transition_name, $prefix: "") {
  @return $prefix + "." + $transition_name + "-enter-active, " + $prefix + "." +
    $transition_name + "-leave-active";
}

@function transition_start($transition_name, $prefix: "") {
  @return $prefix + "." + $transition_name + "-enter, " + $prefix + "." +
    $transition_name + "-leave-to";
}
